<h4>Two way communication Examples</h4>
<p>This is Lazy Loaded Module</p>
 <nav class="navbar justify-content-center navbar-expand-sm navbar-dark green scrolling-navbar">
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" routerLink="parent-child-example">
          <span class="nav-link">Parent Child Communication Example</span>
        </li>
        <li class="nav-item" routerLinkActive="active" routerLink="independent">
          <span class="nav-link">Independent Component Communication</span>
        </li>
      </ul>
    </div>
 </nav>

<router-outlet></router-outlet>
